In [9]:
import pandas as pd
import numpy as np
import mysql.connector
import json

## Create database connection

### Read database credentials from file

In [21]:
db_credentials = json.load(open('db_credentials.json'))

In [24]:
# Configuración de la conexión
conn = mysql.connector.connect(**db_credentials)
cursor = conn.cursor()
if cursor:
    print("Connected successfully!")

Connected successfully!

## Load dataframe from csv file

In [36]:
df = pd.read_csv('./csv/TODOS.csv')

In [28]:
df.columns

Index(['subject', 'year', 'topic', 'exam', 'exercise_number', 'statement',
       'subject_id', 'year_id', 'topic_id', 'exam_id', 'exercise_id'],
      dtype='object')

In [38]:
df.shape

(3294, 6)

In [39]:
df.head(2)

,subject,year,topic,exam,exercise_number,statement
0,Física,2016,Física cuántica y nuclear,Junio,"Ejercicio 2, Opción B",a) Teoría de Einstein del efecto fotoeléctrico...
1,Física,2016,Física cuántica y nuclear,Junio,"Ejercicio 4, Opción A",El * Pb emite dos partículas beta y se transfo...

## Insert values into db tables

In [44]:
for col in df.columns[:-1]:
    if col == 'year':
        data = sorted([int(value) for value in df[col].unique()])
    else:
        data = sorted(list(df[col].unique()))  # Extract unique values
    # truncate table
    cursor.execute(f"TRUNCATE TABLE {col}s")
    # insert data
    cursor.executemany(f"INSERT INTO {col}s ({col}) VALUES (%s)", [(value,) for value in data])
    conn.commit()